*.swp
__pycache__
.env
.venv
.tox
.ipynb_checkpoints/
.DS_Store
src/soretrieval.egg-info/
src/upgraider.egg-info/
src/bump_explore/temp/
bump_data/
bump_output/
.vscode/launch.json
src/bump_explore/bump_misc.py
